.single-product{
    padding: 0px!important;
    &>.col-md-12{
    padding: 0px;
        .rb_breadcrumb{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #333;
            border-top: 1px solid #333;
        }
    }
    .single-product__image{
        .images{
            width: 100% !important;
            &>a.woocommerce-main-image{
                
            }
            .thumbnails{
                display: flex;
                &>a{
                    img{
                        
                    }
                }
            }
        }
    }
}
